.box-s-item{
    background-color: skyblue;
}
.box-s-item:nth-child(even){
    background-color: hotpink;
}
body {
    position: fixed;
    overflow: hidden;
}
.outer-box {
    position: relative;
}
.box-screen {
    position: absolute;
   transition: all 1s ease-in-out;
    top:0 ;
}